<!DOCTYPE html>
<html>
<head>
    <h1>{{data1}}</h1>
    {% for data in data1%}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Local Schools</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap"
    type="text/javascript"></script>

    <script type="text/javascript">
    function initMap() {

        const map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: {{data[2]}}, lng: {{data[3]}} },
            zoom: 16
          });
          new google.maps.Marker({
            position: {lat: {{data[2]}}, lng: {{data[3]}} },
            map,
            title: "Hello World!",});
    }
    </script>
</head>
<body>
<div class="container">
    <div id="map" style="width:100%; height:500px;"></div>
</div>
</body>
{%endfor%}

</html>